

<div class="singlePostMainDivClass">
    {{singlePost.name}}
    <br>
    <img src="{{singlePost.image}}" alt="">
    <br>
    <div class="likeDivClass">

        @if(singlePost.isLiked){
            <img src="./../../assets/img/heart-red.png" alt=""  class="likeIconClass" (click)="like()">
        }
        @else{
            <img src="./../../assets/img/heart-black.png" alt=""  class="likeIconClass" (click)="like()">
        }


        {{singlePost.likes}}
    </div>
    <div class="commentsDivClass">

        <!-- Einzelne Kommentare: -->
        <!-- @if(singlePost.comments){
            {{singlePost.comments[0].name}}: {{singlePost.comments[0].text}}
        } -->
    
    @for(comment of singlePost.comments; track $index){
            <b>{{comment.name}}</b>: {{comment.text}}
            <br>
    }
        
    </div>
    
    <br>
    <br>

</div>