


img{
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.likeIconClass{
    width: 32px; height:40px;
    cursor: pointer;
}

.likeDivClass{
    display: flex;
    align-items: center;
    gap: 8px;
}

.commentsDivClass{
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    font-size: 14px;
}