

<div class="singlePostMainDivClass">
    <div class="nameDivClass"><div class="gradientCircleDivClass"></div>&nbsp;{{singlePost.name}}</div>
    
   
    <img src="{{singlePost.image}}" alt="">
    <br>
    <div class="likeDivClass">

        @if(singlePost.isLiked){
            <img src="./../../assets/img/heart-red.png" alt=""  class="likeIconClass" (click)="like()">
        }
        @else{
            <img src="./../../assets/img/heart-black.png" alt=""  class="likeIconClass" (click)="like()">
        }


        {{singlePost.likes}}
    </div>
    <div class="commentsDivClass">

        <!-- Einzelne Kommentare: -->
        <!-- @if(singlePost.comments){
            {{singlePost.comments[0].name}}: {{singlePost.comments[0].text}}
        } -->
    
    @for(comment of singlePost.comments; track $index){
            <p class="spanClass"><b>{{comment.name}}</b>: {{comment.text}}</p>
            
    }
        
    </div>

    <div class="addCommentDivClass">
       <input type="text" [(ngModel)]="inputData"><button (click)="sendInputData();addComment(); ">post comment</button>

    </div>
    
    <br>
    <br>

</div>